body{
    overflow: hidden;
    margin: 0;
    overflow: hidden;
    line-height: .5px;
}
.top nav{
    margin-left: 80%;
}
.top li{
   display: inline;
}
.top a{
    color: rgb(77, 74, 74);
    margin-right: 10px;
    text-decoration: none;
}
.top a:hover{
    text-decoration: underline ;
}
.igs{
    margin-left: 33rem;
}
.igs img{
    margin: none;
    height: 27vh;
}
.box{
    margin-left:24.4rem;
}
.boxed{
    font-size: 15px;
    border: .5px solid rgb(226, 222, 222);
    border-radius: 3rem;
    height: 43px;
    width: 33rem;
    word-wrap: break-word;
    display: flex;
    resize: none;
     padding-left: 25px;
}
.boxed:hover{
    border-color: rgb(224, 218, 218);
}

.button {
    margin-left:9rem;
    margin-top: 20px;
}
.botton{
    padding: 0 16px;
    border-radius: 3px;
    font-size: .9rem;
    height: 2rem;
    width: 9rem;
    margin-right: 13px;
    background-color: rgba(248, 245, 245, 0.938);
    border: 1px solid whitesmoke;
}
.botton:hover{
    border: 1px solid rgb(190, 184, 184);
}
/*googleimage*/
.ig{
    margin-top: 45px;
    margin-left: 34rem;
    margin-bottom: 15px;
}
.ig img{
    margin: none;
    height: 14vh;
}